.wrapper {
  width: 100%;
  height: 100%;
  padding: 15px 0 15px 15px;
  background: #fafafa;
}

.selected {
  font-weight: 600;
}

.selected span{
  color: #3c3;
}



.md-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  line-height: 22px;
}

.md-titles {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: #fafafa;
  z-index: 1;
  padding: 10px;
  border-right: 1px solid rgba(0,0,0,0.07);
  border-radius: 2px;
}

.md-viewer-wrap {
  margin-left: 300px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.md-content-viewer {
  max-width: 800px;
  padding: 20px 0 40px 0;
  margin: auto;
}

.article-title {
  border-left: 5px solid;
  margin-bottom: 20px;
  font-size: 30px;
  padding-left: 12px;
  padding-bottom: 9px;
}

.article-title time {
  font-size: 16px;
  color: #aaa;
  float: right;
  height: 58px;
  line-height: 58px;
  padding-right: 40px;
}

.article-item {
  border: 1px solid #ddd;
  margin-bottom: 65px;
}

.article-content {
  padding: 12px;
  overflow: auto;
}

.error-tip {
  color: #E6A23C;
}

.action-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid #b3d8ff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  padding: 6px 9px;
  font-size: 14px;
  border-radius: 4px;
  color: #409eff;
  background: #ecf5ff;
  cursor: pointer;
}